.git
.gitignore
.env.example
.env.*.example
.editorconfig
.env
.env.local
.env.*.local
node_modules
npm-debug.log
yarn-error.log
storage/logs/*
bootstrap/cache/*
vendor/bin/
.idea
.vscode
*.md
LICENSE
docker-compose.yml
.github/
tests/
database/seeders/
database/factories/
